body{
    background-color:hsl(0, 0%, 81%) ;
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: hsl(0, 0%, 100%);
}


footer{ font-size: 11px; text-align: center; }
footer a { color: hsl(228, 45%, 44%); }


main{
    width: 90%;
    margin: 40px auto;
    
    display: grid;
    row-gap: 20px;
}

.Container{
    padding:30px;
    border-radius: 9px;
}


.containerImage{
    margin-top: 3px;
}

img{
    border: 1px solid white;
    width: 21px;
    border-radius: 100px;
}

.top{
    display: flex;
    color: hsl(0, 0%, 100%);
}

.profileInfo{
    margin-left: 10px;
    margin-top: 3px;
}

.profileInfo p{
    margin-top: 10px;
    margin: 0px;
    font-size: 0.7em;
    

}

span{
    opacity:50%;
    font-size: 0.8em;
}

.Daniel{
    background-color: hsl(263, 55%, 52%);
}

.Jonathan{
    background-color: hsl(217, 19%, 35%);
}


.Kira, .Jeanette {
    background-color:hsl(0, 0%, 100%);
    color: hsl(217, 19%, 35%);
}

.Kira .top, .Jeanette .top{
    color: hsl(217, 19%, 35%);
} 

.Patrick{

    background-color:hsl(219, 29%, 14%);

}

h2{
    font-weight: 600;
    font-size: 1.55em;
    
}

p{
    font-weight: 500;
    font-size: 1.0em;
    
}